body
{
	background-color: white;
	/*background: url("pic01.jpg") fixed no-repeat;*/
	background-size: cover ;
	font-family: "Lato", sans-serif;
	overflow: auto;
	word-wrap: break-word;
}

ul {
  list-style-type: none;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  padding: 0;
  overflow: hidden;
  background-color: #3FA3C4;
}

/*Quand on passe la souris dessus*/
.lapnav a:hover {
	color: black;
}

#homepic{
	padding: 0;
}

.lapnav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

ul .right {
  float: right;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

ul .left {
 
  padding: 0.4em;

}

.lapnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3FA3C4;
  }

  /* Mobile Styles */
@media only screen and (max-width: 960px) {
  
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .lapnav{
    display: none;
  }
  .sidenav {
      
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3FA3C4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* Tablet Styles *//*
@media only screen and (min-width: 401px) and (max-width: 960px) {
 
  .lapnav{
    display: none;
  }

  ul .right {
    display: none;
  }

  ul .left {
    display: none;
  }

}*/

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  #mobnav{
    display: none;
  }

}