@font-face {
    font-family: 'cantarellregular';
    src: url(/Prog Web/fonts/'Cantarell-Regular-webfont.eot');
    src: url(/Prog Web/fonts/'Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(/Prog Web/fonts/'Cantarell-Regular-webfont.woff2') format('woff2'),
         url(/Prog Web/fonts/'Cantarell-Regular-webfont.woff') format('woff'),
         url(/Prog Web/fonts/'Cantarell-Regular-webfont.ttf') format('truetype'),
         url(/Prog Web/fonts/'Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

} /* Ne fonctionne pas, pourquoi ?*/

body
{
	background-color: white;
	/*background: url("pic01.jpg") fixed no-repeat;*/
	background-size: cover ;
	font-family: "Lato", sans-serif;
	overflow: auto;
	word-wrap: break-word;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3FA3C4;
}

li {
	float: left;

}

li a {
	display: block;
	color: white;
	text-align: centre;
	padding: 14px 16px;
	height: 100%;
	width: auto;
	text-decoration: none;
}

/*Quand on passe la souris dessus*/
li a:hover {
	color: black;
}

#homepic{
	padding: 0;
}


 .active {
	background-color: #9dd0e1;
}







  /* Mobile Styles */
@media only screen and (max-width: 400px) {
  
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #lapnav{
    display: none;
  }
  .sidenav {
      
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3FA3C4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 
  #mobnav{
    display: none;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  #mobnav{
    display: none;
  }

}