



/* Desktop Styles */
@media only screen and (min-width: 721px) {
  body{
<<<<<<< HEAD
	background-color: #EEE;
=======
	background-color:#EEE;
>>>>>>> 56a71a109a4f0ee08a2af726e170e464ef0e2a4f

}

#contenu {
	width : 80vw;
	background-color : white;
	margin: 3% auto ;
	margin-top: 100px;
	padding: 15px 3% 20px 3%;
}

}

/* Tablet Styles */
@media only screen and (max-width: 720px) {
body{
	background-color : white;
}
#contenu {
	width : 90vw;
	margin: 3% auto ;
	background-color : white;
	padding: 15px 3% 20px 3%;

	}
}
	
	
body
{
	font-family: Verdana, sans-serif;
	min-height: 1200px;
}
	
