
a#cRetour{
  border-radius:20%;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:10;
  transition:all ease-in 0.2s;
  text-decoration: none;
}

a#cRetour:before{
	content: "\25b2"; 
}

a#cRetour:hover{
  background:#99e6e6;
  transition:all ease-in 0.2s;
}

a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}
	
	