/* FEUILLE DE STYLE POUR CARTE INTERACTIVE*/


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  	#map_container
	{
		width:100%;
		margin:0 auto;
	}
	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  	#map_container
	{
		width:90%;
		margin:0 auto;
	}

	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  	#map_container
	{
		width:80%;
		margin:0 auto;
	}
	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}
}


/* Pour chaque zone de pays*/
.land
{
	fill: #cccccc;
	fill-opacity: 0.7;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
	transition: fill-opacity .2s ease-in-out;
}


#CA{
	fill:#b30000 ;
	
}

#US{
	fill:#0000e6;
}

#GB{
	fill:#4d2600;
}
#ES{
	fill:#ffd633;
}
#RU{
	fill:#66ccff;
}
#CN{
	fill:#e6005c;
}

#AU{
	fill:#aa00ff;
}
#BR{
	fill:#00b300;
}

#CA:hover{
cursor : pointer;
}

.land:hover
{
	fill-opacity: 1;
	
}

h1,h2{
		text-align:center;
}

h2{
	padding-bottom : 3em;
}
