/* FEUILLE DE STYLE POUR CARTE INTERACTIVE*/


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  	#map_container
	{
		width:100%;
		margin:0 auto;
	}
	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  	#map_container
	{
		width:90%;
		margin:0 auto;
	}

	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  	#map_container
	{
		width:80%;
		margin:0 auto;
	}
	h1{
		font-size : 3em;
	}
	
	h2{
		font-size : 0.7 em;
		font-style:italic;
	}
}


/* Pour chaque zone de pays*/
.land
{
	fill: #cccccc;
	fill-opacity: 0.5;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
	transition: fill-opacity .2s ease-in-out;
}


#FR{
	fill:#3333ff ;
	
}

#CA{
	fill:#e60000;
}

#RU{
	fill:#e6b800;
}
#US{
	fill:#33CCCC;
}
#GB{
	fill:#73e600;
}

.land:hover
{
	fill-opacity: 1;
}

h1,h2{
		text-align:center;
}

h2{
	padding-bottom : 3em;
}
