

menu ul {
  list-style-type: none;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  padding: 0;
  overflow: hidden;
  background-color: #3FA3C4;
}
#lapnav{
  transition:opacity ease-in-out 0.5s;
}

/*Quand on passe la souris dessus*/
.lapnav a:hover {
	color: black;
}

#homepic{
	padding: 0;
}

.lapnav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

ul .right {
  float: right;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

ul .left {
 
  padding: 0.4em;

}

.lapnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3FA3C4;
  width: 100%;
  position: fixed;
  z-index : 10;
  top:0;
  left: 0;
}

  /* Mobile & Tablet Styles */
@media only screen and (max-width: 721px) {
  

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .lapnav{
    display: none;
  }
  .sidenav {
      
    height: 100%;
    width: 40%;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3FA3C4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    margin-left: 50px;
  }

#bouton_menu {
	font-size : 2.2em;
	position : fixed;
	z-index : 10;
	color:#fff;
	border-radius:20%;
  	background:rgba(0, 0, 0, 0.50);
	margin : 5px 10px ;
	padding : 0px 10px 4px 10px ;
}
}


/* Desktop Styles */
@media only screen and (min-width: 720px) {
  
  #mobnav{
    display: none;
  }

}
