/* FEUILLE DE STYLE POOUR CARTE INTERACTIVE*/





/* Pour chaque zone de pays*/
.land
{
	fill: #000000;
	fill-opacity: 0.1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
	transition: fill-opacity .3s ease-in-out;
}
	
.land:hover
{
	fill-opacity: 0.3;
}


#map_container
{
	width:70%;
	margin:0 auto;
}
